.need-assessment-section {
  .need-assessment-header {
    padding: 32px 0;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.01), 0px 5px 3px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;

    .need-assessment-header-inner {
      @include flexbox();
      @include justify-content(space-between);

      .need-assessment-header-inner-left{
        @include flex(0 0 75%);

        @media #{$max991} {
          @include flex(0 0 100%);
        }
      }

      @media #{$max991} {
        .btn-default-wrapper{
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 15px;
          background-color: #532437;
          z-index: 9999;

          .btn-default{
            width: 100%;
          }
        }
      }
    }

    .at-progress-bar {
      margin: 40px auto 0;
    }
  }

  .need-assessment-inner {
    background-color: $accent_blush;
    padding: 40px 0;

    .na-question{
      @include flexbox();
      padding-left: 24px;

      @media #{$max991} {
        @include flex-wrap(wrap);

        .form-check-inline{
          width: 80%;
          padding-left: 0 !important;
          margin: 0 auto 15px !important;
        }
      }
    }

    input[type=radio] {
      display: none;
    }

    input[type=radio] + label {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
      width: 141px;
      height: 67px;
      background: #9BF48D;
      border: 2px solid #9BF48D;
      border-radius: 8px;

      @media #{$max991} {
        width: 100%;
        height: 43px;
        @include flex-direction(row);

        img{
          margin-right: 15px;
        }
      }

      &.bg-2 {
        background-color: #BCF8B2;
        border-color: #BCF8B2;
      }

      &.bg-3 {
        background-color: rgba(250, 236, 109, 0.65);
        border-color: rgba(250, 236, 109, 0.65);
      }

      &.bg-4 {
        background-color: #FFD1D1;
        border-color: #FFD1D1;
      }

      &.bg-5 {
        background-color: #FEA3A3;
        border-color: #FEA3A3;
      }

    }

    input[type=radio]:checked + label {
      border-color: #532437;
    }
  }
}

.need-assessment-result {
  background-color: $accent_blush;
  padding: 30px 0 64px;

  h2 {
    line-height: 61px;
    margin-bottom: 0;

    @media #{$max575} {
      text-align: center;
      line-height: 40px;
      margin-bottom: 14px;
    }
  }

  p.header-desc {
    margin-bottom: 36px;
    @media #{$max575} {
      text-align: center;
    }
  }

  .course-items {
    padding: 0 72px;

    @media #{$max1199} {
      padding: 0;
    }
  }

  .course-item {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 36px;

    .course-thumb {
      position: relative;
      margin-bottom: 14px;
      overflow: hidden;
      border-radius: 8px;

      img.course-image {
        width: 100%;
        @include transition(all, .5s)
      }

      .course-logo {
        position: absolute;
        right: 12px;
        bottom: 12px;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        background: #FFFFFF;
        box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.05);
        padding: 0 9px;
        line-height: 60px;
      }

      .course-enrol {
        position: absolute;
        top: -6px;
        left: -6px;
        padding: 8px;
        background: #FFFFFF;
        border-radius: 8px;
      }
    }

    .no-of-lessons {
      letter-spacing: 0.02em;
      color: $helper_text_ash;
      display: block;
    }

    .course-name {
      font-weight: 600;
      letter-spacing: 0.01em;
      margin-bottom: 10px;
      color: $text_wine;
      display: inline-block;
      @include transition();
    }

    .course-student {
      @include flexbox();
      margin-bottom: 20px;

      ul {
        list-style: none;
        margin: 0 12px 0 0;
        padding: 0;
        @include flexbox();

        li:not(:first-child) {
          margin-left: -6px;
        }
      }

      span {
        color: $helper_text_ash;
      }
    }

    .course-meta {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
      margin-bottom: 20px;

      .course-ratting {
        list-style: none;
        @include flexbox();
        margin: 0;
        padding: 0;

        li {
          margin-right: 2px;

          i {
            color: $primary_sunshine_2;
          }
        }
      }

      .course-total-student {
        color: $primary_sunshine_2;
      }

      .course-price {
        font-weight: 600;
        color: #532437;
      }
    }

    .btn-default.btn-secondary {
      padding: 0 18px;
    }

    &:hover {
      .course-thumb img.course-image {
        transform: scale(1.2);
      }

      .course-name {
        color: $p_color;
      }
    }
  }
}

.need-assessment-workshop {
  background-color: $accent_blush;

  .workshop-items {
    padding-left: 72px;

    @media #{$max1199} {
      padding-left: 0;
    }

    .workshop-item{
      background-color: #fff;
    }
  }
}